*.DS_Store
startup*.log
startlog*
# We want to keep these folders empty since
# they will be created during the install process

/config/.config/nvm/*
!/config/.config/nvm/.gitkeep

/config/.config/thefuck/*
!/config/.config/thefuck/.gitkeep

/config/.config/yazi/plugins/*
!/config/.config/yazi/plugins/.gitkeep
/config/.config/yazi/flavors/*
!/config/.config/yazi/flavors/.gitkeep
/config/.config/helix/runtime/*
/config/.config/helix/runtime/.gitkeep



/config/.config/gh/hosts.yml

# Zsh related things
/config/.config/zsh/.*zcomp*
/config/.config/zsh/.*zcomp*.
/config/.config/zsh/.zsh_sessions/*
*/.zsh_sessions/
/config/.config/zsh/.zsh_history

# Tmux stuff
/config/.config/tmux/plugins/*
!/config/.config/tmux/plugins/.gitkeep

# gcloud stuff
/config/.config/glcloud
!/config/.config/glcloud/.gitkeep

# Editor information
/.vscode/
/.idea/
*/.idea/*
