# vim: ft=zsh:

zmodule zsh-users/zsh-syntax-highlighting
zmodule zsh-users/zsh-autosuggestions
zmodule zsh-users/zsh-completions --fpath src
zmodule completion
zmodule sorin-ionescu/prezto --root modules/command-not-found
zmodule sorin-ionescu/prezto --root modules/gnu-utility
zmodule ohmyzsh/ohmyzsh --root plugins/git
zmodule jeffreytse/zsh-vi-mode


